<html>
    <header>
        <title>David Blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.1/dist/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </header>
    <body>
        <div class="ui top inverted fixed menu">
            <div class="ui container">
                <div class="header item"><i class="newspaper icon"></i>Blog App</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">Create new post</a>
            </div>
        </div>
        <div class="ui main text container segment">
